.report
  %h3.title
    = link_to item.name, item
    %span.descr
      - if item.tech_support
        \-
        %strong Есть
        техническая поддрежка
      - else
        \-
        %strong Нету
        технической поддержки

      - if item.hostel
        \-
        %strong с гостинецей
      - else
        \-
        без гостиницы
  .content
    %p
      = item.sinopsis

    - if item.users.length > 0
      %h3
        Подготовлено
      .peoples
        = render partial: 'users/shared/user', collection: item.users
