.landing
  %section.title
    %h1
      SloverClub в Высшей Школе Менеджмента ГУ ВШЕ
    %h2
      практическая база опыта решения проблем и бизнес-кейсов
  %section.info
    %ul.list.inline
      %li
        %i.land-problem
        %p
          Хотите решить проблему?
          Есть вопросы, нужен поиск или помощь в выборе вариатнов?
      %li
        %i.land-solution
        %p
          Сообща мы обязательно найдем оптимальное решение
      %li
        %i.land-popular
        %p
          Лучшие решения будут по достоинству оценены преподователями и сообществом.
