.issue
  position: relative
  padding: $main-margin * 1.5 0 0 0
  margin-top: $main-margin * 1.5
  border-top: $base-border
  .index
    color: $light-black

  p
    line-height: 1.6

  &:first-child
    border-top: 0
    margin-top: 0
    padding-top: 0

  &:last-child .content
    border-bottom: none

  .solution-author
    margin-bottom: $main-margin/2
    position: relative
    a
      color: $black

    .rate
      float: none
      font-size: 13px

  .solution-body
    background: white
    border: $base-border
    border-color: $solution-gray
    padding: $input-text-padding $main-margin
    position: relative
    border-radius: $main-margin / 2
    &:before, &:after
      position: absolute
      bottom: 100%
      left: $layout-margin
      content: ' '

    &:before
      @include triangle($main-margin + 2* $border-width, $solution-gray, up)

    &:after
      @include triangle($main-margin, white, up)
      margin-left: 1px

  .descr
    color: $sub-gray
    font-size: 12px
    line-height: 1
    margin-bottom: $main-margin
    a
      color: $black

  .title
    margin-bottom: .2em

  .content
    .title a
      font-weight: normal
      color: #444

  .sub
    margin-top: $main-margin
    i
      color: $icon-blue

    a, span
      font-size: 12px

    span
      color: $sub-gray

    .list li:first-child
      padding-left: 0

.issues-same
  h3, ul
    padding: 0 $main-padding

  > ul
    display: block
    border-top: $base-border
    margin-top: $main-margin/2
    padding-top: $main-margin
    @include clearfix

  li
    margin-top: 0
    padding-top: 0
    padding-right: $main-padding + $layout-margin
    border: 0
    float: left
    width: 33.333%
    .s-icon-padding
      margin-left: $solution-icon-height + $main-padding

    .rate
      font-size: 1.1em

    a
      color: $black
      i
        color: $gray