.page-nav {
  margin: $main-padding 0 $layout-margin;

  @include base-round-block;
  > .list {
    @include clearfix;
    li {
      float: left;
      display: block;
      padding: 0;
      font-size: 0;
      $bord-size: 4px;
      line-height: $button-height;
      &.active a{
        background-color: $light-green !important;
        color: $dark-black!important;
      }
      &:first-child a{
        padding-left: $solution-icon-height+$layout-margin;
      }
      & > * {
        font-size: $font-size * 1.2;
        display: block;
        text-decoration: none;
        box-shadow: none;
        margin: 0;
        padding: 0 $main-padding;
      }
      &:hover a{
        background-color: $light-blue;
        color: white;
      }
    }
  }
}