.auth {
  font-size: 0;
  margin: 0 $layout-margin;
  border-radius: 0 0 $layout-margin $layout-margin;
  box-shadow: $layout-box;
  overflow: hidden;
  h1, h2{
    color: $black!important;
  }
  .block {
    @include inline-block;
    box-shadow: inset 0 $layout-margin $layout-margin+$main-padding (-$layout-margin) $black;
    vertical-align: middle;
    font-size: $font-size;
    width: 50%;
    padding: $auth-padding;
    height: 260px;
    background: $light-blue;
    .attach-group {
      @include clearfix;
      > *:first-child {
        margin-top: 0!important;
        width: 80% !important;
      }
    }
    &:last-child {
      border-right: 0;
      background: $light-green;
      .attach-group > *:first-child {
        width: 62% !important;
      }
    }
    form {
      margin-top: -24px;
    }
  }
  .attach-group {
    margin-top: $main-margin;
    .btn {
      float: right;
    }
  }
  p {
    margin-bottom: $main-margin;
  }
  .input input {
    border-color: $dark-lame;
    height: $button-height;
    padding-left: $input-text-padding;
    @include placeholder {
      font-style: italic;
      font-size: 0.9em;
    }

  }
  .input{
    margin-top: $main-margin!important;
  }
  .input.boolean {
    label{
      display: inline!important;
    }
    input {
      height: $main-margin;
    }
  }
  .btn{
    padding: 0 $input-text-padding!important;
  }
}