@import "values";

header.page {
  $height: $header-height;
  height: $real-header-height;

  $margin: 20px;
  $line-height: $height - $margin*2;

  .wrapper {
    height: $header-height;
  }
  .logo,.user,.page-title{
    @include base-round-block;
    border-radius: 0 0 $main-margin $main-margin;
    padding: 0 $main-margin!important;
  }
  .page-title{
    margin-left: $header-logo-width + $main-padding+ 2*$main-margin;
    height: $header-height;
    @include inline-block;
    line-height: $header-height;
    font-size: 1.2em;
    color: $dark-lame;
  }
  .logo {
    position: absolute;
    z-index: 110;
    margin: 0;
    a {
      background: image-url('logo.png') no-repeat;
      width: $header-logo-width;
      height: $header-height;
      display: block;
      color: transparent;
    }
  }

  .session {
    float: right;

    > li {
      padding: 0;
    }

    .social{
      float:right;

      .fb-like {
        position: absolute;

        &[fb-xfbml-state="rendered"] {
          position: relative;
        }
        span {
          vertical-align: middle;
        }

        iframe {
          position: static !important;
        }
      }
    }

    .user {
      overflow: visible;
      .dropdown-toggle {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        white-space: nowrap;
        color: $sub-gray;
        font-size: 1.2em;
        box-shadow: none;
        span {
          display: inline-block;
          vertical-align: middle;
          text-overflow: ellipsis;
          position: relative;
          max-width: 220px;
          overflow: hidden;
        }
        img {
          display: inline-block;
          border-radius: 50%;
          width: $real-input-height;
          height: $real-input-height;
          padding: $main-margin/3;
          vertical-align: middle;
          margin-right: $main-margin;
        }
      }
      .dropdown-menu {
        width: 230px;
        left: -50px;
      }
    }
    .dropdown-menu {
      & > a {
        $padding: 10px;
        position: relative;
        padding: 0 $main-padding 0 $line-height+$padding;
        vertical-align: top;
        @include inline-block;
        text-decoration: none;
        line-height: $line-height;
        &.btn {
          line-height: $line-height;
        }
      }
    }
  }
}
