.aside-item.small{data:{no:{turbolink:true}}}
  %p
    Появились новые студентики? Добавьте новую группу!
  = link_to new_group_path, class: 'btn btn-light-green fancybox' do
    %i.icon-plus-sign
    Добавить группу
