.aside-item.small
  %p
    Добавить новую специальность никогда не поздно! Больше специальностей - больше обучаемых!

  = link_to new_firm_path, class: 'btn btn-light-green' do
    %i.icon-plus-sign
    Добавить специальность
