.aside-item.small{data:{no:{turbolink:true}}}
  %p
    Ого новое событие, давайте добавим!
  = link_to new_event_path, class: 'btn btn-light-green fancybox' do
    %i.icon-plus-sign
    Добавить событие
