.aside-item.small{data:{no:{turbolink:true}}}
  %p
    Очень важно всегда, составлять расписание. Хотите добавить день посещения?
  = link_to new_elective_day_path, class:'btn btn-light-green fancybox' do
    %i.icon-bell
    Новый день работы