.aside-item.small
  %p
    Очень важно всегда, составлять расписание. Хотите добавить день посещения?
  = link_to new_elective_day_path, class:'btn btn-light-green' do
    %i.icon-bell
    Новый день работы