.aside-item.small
  %p
    Люди хотят общаться и развиваться, объедини их по интересам - добавь кружок!

  = link_to new_elective_path, class: 'btn btn-regular' do
    %i.icon-plus-sign
    Добавить кружок
