.aside-item.small{data:{no:{turbolink:true}}}
  %p
    Люди хотят общаться и развиваться, объедини их по интересам - добавь кружок!

  = link_to new_elective_path, class: 'btn btn-regular fancybox' do
    %i.icon-plus-sign
    Добавить кружок
