.aside-item.small{data:{no:{turbolink:true}}}
  %p
    Ни какое событие у нас не обходится без докладов и докладчиков!
  = link_to new_event_report_path, class: 'btn btn-light-green fancybox' do
    %i.icon-plus-sign
    Добавить доклад
