.aside-item.small
  %p
    Ни какое событие у нас не обходится без докладов и докладчиков!
  = link_to new_event_report_path, class: 'btn btn-light-green' do
    %i.icon-plus-sign
    Добавить доклад
